@using Sitecore.Mvc
@model Sitecore.Shell.Client.Bootstrap3.Layouts.Renderings.Bootstrap3.Typography.Bootstrap3ParagraphLeads.Bootstrap3ParagraphLeadRenderingModel
@{
  var content = Html.Sitecore().Placeholder(Model.ControlId + ".Content");
  if (!Model.IsScriptEnabled && string.IsNullOrEmpty(content.ToString()) && string.IsNullOrEmpty(Model.Text))
  {
    return;
  }
  
  Model.Class = "lead";
  Model.DataBind.IsVisible().Text();
}            
<p @Model.HtmlAttributes>@content@Html.Sitecore().Translate(Model.Text)</p>
