@using Sitecore.Mvc
@model Sitecore.Shell.Client.Bootstrap3.Layouts.Renderings.Bootstrap3.Forms.Bootstrap3Help.BootstrapHelpRenderingModel
@{   
  var content = Html.Sitecore().Placeholder(Model.ControlId + ".Content");
  if (!Model.IsScriptEnabled && string.IsNullOrEmpty(content.ToString()) && string.IsNullOrEmpty(Model.Text))
  {
    return;
  }

  Model.Class = "help-block";
}
<span @Model.HtmlAttributes>@content@Html.Sitecore().Translate(Model.Text)</span>
